
<div class="sharebox-instructions">
    <h2 class="warning">{{ 'azure-missing-parameters-heading'|t('convergine-sharebox') }}</h2>
    <p>{{ 'add-variables-env'|t('convergine-sharebox', {'env_file': '<code class="highlight">.env</code>'})|raw }}</p>

    <ul>
        <li><code class="highlight">AZURE_BLOB_STORAGE_KEY</code> - {{ 'azure-blob-storage-key'|t('convergine-sharebox') }}</li>
        <li><code class="highlight">AZURE_BLOB_STORAGE_ACCOUNT_NAME</code> - {{ 'azure-blob-storage-account-name'|t('convergine-sharebox') }}</li>
        <li><code class="highlight">AZURE_CONTAINER</code> - {{ 'azure-container'|t('convergine-sharebox') }}</li>
    </ul>
    <h4>{{ 'example'|t('convergine-sharebox') }}</h4>
    <pre>

        <span class="highlight">AZURE_BLOB_STORAGE_KEY1</span>=hFfSdqF7u8B+y...
        <span class="highlight">AZURE_BLOB_STORAGE_ACCOUNT_NAME</span>=account
        <span class="highlight">AZURE_CONTAINER</span>=container
    </pre>
    <p>{{ 'refer-to-documentation'|t('convergine-sharebox', {'documentation_link': 'https://github.com/convergine/craft-sharebox/blob/master/README.md'})|raw }}</p>
</div>

{% include "convergine-sharebox/_components/convergine-footer" %}