<table class="data fullwidth">
    <thead>
    <tr>
        <th>{{ 'Type'|t('convergine-sharebox') }}</th>
        <th>{{ 'Total'|t('convergine-sharebox') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ 'Files Downloaded'|t('convergine-sharebox') }}</td>
        <td>{{ downloads }}</td>
    </tr>
    <tr>
        <td>{{ 'Number of Logins'|t('convergine-sharebox') }}</td>
        <td>{{ logins }}</td>
    </tr>
    </tbody>
</table>
